
body{
    margin: 0 auto;
    width: 100%;
    display: block;
}
svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}
.tooltip {
    background: #000000f0;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: white;
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
    z-index: 1070;
}
circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}
text.idnodo {
    fill: #ffffff80;
    font-weight: bold;
    font-size: 8px;
}
