.none{display:none}
.formulario{
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 8px 0px;
    border-radius: 3px 3px 0 0;
    border-bottom: 0;
}
.w100{
    width: 100%;
    display: block;
}
.freverse{flex-flow: row-reverse!important;    align-items: flex-end!important;}
.resultado {
    border: 1px solid #ccc;
    background: white;
    padding: 20px;
    border-radius: 0 0 3px 3px;
}
#rtaArb{overflow: auto;}
footer {
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    color: #444;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #ccc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.sep{
    border-bottom: 1px solid #ccc;
    margin: 20px -20px;
}
.exp {
    background: #f1f2f3;
    border: 1px solid #ccc;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-weight: bold;
    top: 0;
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 10px;
    margin: 20px;
}
.close {
    position: absolute;
    right: 30px;
    top: 30px;
    color: #424242;
    font-size: 40px;
    cursor: pointer;
}
.pr{position: relative;}
.fixed svg{
    width: 100%;
    height: 100%;
}
.fixed{
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: white;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel{
    margin: 20px 0;
}
.couicon{
    color: #000;
    font-size: 50px;
}
.carousel-indicators li{
    background-color: #000!important
}
.carousel-inner img {
    max-height: 255px!important;
}
.card-body div.lds-ring {
    margin: 0 auto;
    text-align: center;
    display: block;
}